<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.world.gecko.mapper.BoardMapper">
	<select id="getPostByNum"
		resultType="com.world.gecko.domain.PostVo" parameterType="map">
		SELECT * from
		post_ where num = #{num}
	</select>
	<select id="postList" resultType="com.world.gecko.domain.PostVo"
		parameterType="map">
		select * from post_ where tag != 'A'
		order by num desc limit #{startIndex}, 7
	</select>
	<select id="getPage" resultType="com.world.gecko.domain.PageVo">
		select count(*) as count from post_
		where tag != 'A'
	</select>
	<select id="getResponse" resultType="com.world.gecko.domain.PostVo">
		select * from post_ where (tag = 'A' and pnum=#{pnum})
	</select>
	<select id="latestNum" resultType="Integer">
		select max(num) from post_
	</select>
	<insert id="newPost" parameterType="com.world.gecko.domain.PostVo">
		INSERT into post_ (tag, w_id, w_nickname, title, content)
		values(#{tag}, #{w_id},#{w_nickname}, #{title}, #{content})
	</insert>
	<update id="view" parameterType="Integer">
		update post_ set view_count = view_count + 1
		where num = #{num} 
	</update>
</mapper>